canvas {
border:10px solid rgb(240, 83, 35) ;
 border-radius: 30px;
 float:center ;
 
 box-shadow: 10px 10px 15px rgb(245, 140, 4);
 margin-left: 300px;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
display: inline;
}
.heading button{
float: right;
}
.bigimage{
    width: 100%;
}